
:root {
    --background-black: hsl(216, 12%, 8%);
    --rate-box-background: hsl(213, 19%, 18%);
    --para-text: hsl(217, 12%, 63%);
    --numbers-background: hsl(215, 11%, 29%);
    --button-background:hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --button-text-hover: hsl(25, 97%, 53%);
    --chosen-rating-text: hsl(25, 97%, 53%);
}

* {
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

html{
    margin: 0;
}

body {
    background-color: var(--background-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    height: 100vh;

}

main {
    display: flex;
    justify-content: center;
    max-width: 375px;
}

.para-text {
    font-size: 1rem;
    color: var(--para-text);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem
}

h2 {
    font-size: 1.75rem
}

#star {
    position: relative;
    background-color: var(--numbers-background);
    padding: 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rate {
    background-color: var(--rate-box-background);
    width: 90%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
}

#rating-and-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

form {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

input {
    display: none;
}

input:checked + label {
    transition: all 0.3s;
    background-color: var(--button-background);
    color: var(--white);
}

label {
    background-color: var(--numbers-background);
    font-size: 1rem;
    color: var(--para-text);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

label:hover {
    color: var(--button-text-hover);
    background-color: var(--white);
    cursor: pointer;
    transition: all 0.3s;
}

button {
    border: none;
    border-radius: 15px;
    background-color: var(--button-background);
    width: 100%;
    height: 30px;
    margin-top: 20px;
    padding-top: 7px;
    color: var(--white);
    font-size: 1.25rem;
}

button:hover {
    color: var(--button-text-hover);
    background-color: var(--white);
    cursor: pointer;
    transition: all 0.3s;
}

.thank-you {
    background-color: var(--rate-box-background);
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-size: rem; */
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}

#thanks-icon {
    margin: 20px;
}

#chosen-rating {
    background-color: var(--numbers-background);
    color: var(--chosen-rating-text);
    font-size: 1rem;
    border-radius: 20px;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%
    
}